{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Device Monitor{% endblock %}

{% block page_content %}

	<div id="circle"><strong></strong></div>
	<script>
	$('#circle').circleProgress({
		value: "{{ percent_up }}",
		size: 150,
		thickness: 10,
		emptyFill: "#cc0000",
		fill: { color: ["#00cc00"]},
		animation: false
	});
	$('#circle').children('strong').text(({{ percent_up }} * 100).toFixed(0) + '%');
	</script>
{#
	<script type="text/javascript" src="{{ url_for('static', filename='js/notifications.js') }}"></script>
	<script>
	noty({
    text: "Report created " + "{{ timestamp }}",
    type: 'information',
    theme: 'metroui',
    closeWith   : ['click'],
    progressBar : true,
    timeout     : 10000,
    animation   : {
      open  : 'animated bounceInRight',
      close : 'animated bounceOutRight',
      easing: 'swing'
    }
  });
	</script>
#}
    <script>
         function timeSince(timeStamp) {
            var now = new Date(),
              secondsPast = (now.getTime() - timeStamp.getTime()) / 1000;
            if(secondsPast < 60){
              return parseInt(secondsPast) + 's';
            }
            if(secondsPast < 3600){
              return parseInt(secondsPast/60) + 'm';
            }
            if(secondsPast <= 86400){
              return parseInt(secondsPast/3600) + 'h';
            }
            if(secondsPast > 86400){
                day = timeStamp.getDate();
                month = timeStamp.toDateString().match(/ [a-zA-Z]*/)[0].replace(" ","");
                year = timeStamp.getFullYear() == now.getFullYear() ? "" :  " "+timeStamp.getFullYear();
                return day + " " + month + year;
            }
          }
    </script>

	<div class="table-title"></div>
    <table class="table-fill">
        <thead>
            <tr>
                <th width="45%" class="text-left">Device</th>
                <th width="10%" class="text-center">Status</th>
                <th width="35%" class="text-center">Last Seen</th>
            </tr>
        </thead>
        <tbody class="table-hover">
            {% for h in hosts %}
                <tr>
                    <td
                        {% if h.type == 'CONNECT' %}
                            onClick="window.open('{{ 'http://' + h.fqdn + ':' ~ h.port }}')";
                        {% endif %}
                        class="text-left">
                        {% if h.friendly_name != None %}
                            {{ h.friendly_name }}
                        {% elif h.port != None %}
                            {{ h.fqdn + ' port: ' ~ h.port }}
                        {% else %}
                            {{ h.fqdn + ' ' + h.type }}
                        {% endif %}
                    </td>
                    <td>
                        {% if h.status == False %}
                        <div class="led-red"></div>
                        {% else %}
                        <div class="led-green"></div>
                        {% endif %}
                    </td>
                    <td class="text-center">
                        <div><script>document.write(timeSince(new Date("{{ h.last_checked }}".replace(" ","T"))))</script></div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}